{% extends "base.html" %}
{% load i18n static %}

{% block extrahead %}
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet"
         href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.css" />
    <link type="text/css" rel="stylesheet" href="{% static "booth/style.css" %}" />
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdbvue/lib/css/mdb.min.css">
{% endblock %}

{% block content %}
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=0.5">
    <div id="app-visualizer">
        <!-- Navbar -->
        <b-navbar type="dark" variant="secondary">
            <b-navbar-brand tag="h1">Decide</b-navbar-brand>
        </b-navbar>

        <div class="voting container">
         <h1 style=font-size:3vw;">Dashboard</h1>
         <div class="d-flex flex-wrap col-12">
         <h2  style=font-size:3vw;" class="col-12">Todas las votaciones creadas</h2>
         <mdb-bar-chart
    class="col-6"
      :data="barChartData"
      :options="barChartOptions"
      
      :height="300"
    ></mdb-bar-chart>
    
    <mdb-doughnut-chart
    class="col-6"
      :data="doughnutChartData"
      :options="doughnutChartOptions"
    
      :height="300"
    ></mdb-doughnut-chart>
    <table class="table table-striped ">    
      <tr>
        <h5>Número total de Votaciones: </h5>
        <td><b>[[total_votings]]</b></td>
      </tr>
    </table> 

    <h5>Listado de Votaciones</h5>
        
    <table class="table table-bordered table-striped" id="tablaPag">
          <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Fecha de Inicio</th>
              <th>Fecha de Fin</th>
            </tr>
        
          </thead>
          <tbody>
            <tr v-for="voting in votings" :key="voting.id">
              <th><b><a :href="'/visualizer/' + voting.id">[[voting.id]]</b></a></th>
              <td><a :href="'/visualizer/' + voting.id">[[voting.name]]</a></td>
              <td>[[voting.start_date]]</td>
              <td>[[voting.end_date]]</td>
            </tr>
          </tbody> 
        </table> 
        <div id="pageNavPosition" style="padding-top: 20px" align="center">
        </div>
        
          </tbody>
       
          </tfoot>
    </table> 

      <div class="small d-flex flex-wrap col-12"> 
    </div>
    
<div class="votingsList">
  
    
    </div>
         </div>
        
            </div>
    
        </div>
        
 
    
{% endblock %}

{% block extrabody %}
    <!-- Vuejs -->
    <script src="https://unpkg.com/vue@2.7.10"></script>
    <script src="https://unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mdbvue/lib/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" charset="utf-8"></script>
    

    <script>
       
        var votings ={{votings|safe}};
        var unstarted ={{unstarted|safe}};
        var started ={{started|safe}};
        var finished ={{finished|safe}};
        var closedV ={{closed|safe}};
      
        var app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app-visualizer',
            components:{
                mdbConteiner: mdbvue.mdbConteiner,
                mdbBarChart: mdbvue.mdbBarChart,
                mdbDoughnutChart: mdbvue.mdbDoughnutChart,
            },
            
             data: {
                votings: votings,
                unstarted :unstarted,
                started : started,
                finished :finished,
                closed:closedV,
                 barChartData: {
                  labels: [
                    "Red",
                    "Blue",
                    "Yellow",
                    "Green",
                    "Purple",
                    "Orange"
                  ],
                  datasets: [
                    {
                    label : "Por estado de votacion (Nº de votaciones)",
                      data: [12, 19, 3, 5, 2, 3],
                      backgroundColor: [
                        "rgba(255, 99, 132, 0.2)",
                        "rgba(54, 162, 235, 0.2)",
                        "rgba(255, 206, 86, 0.2)",
                        "rgba(75, 192, 192, 0.2)",
                        "rgba(153, 102, 255, 0.2)",
                        "rgba(255, 159, 64, 0.2)"
                      ],
                      borderColor: [
                        "rgba(255,99,132,1)",
                        "rgba(54, 162, 235, 1)",
                        "rgba(255, 206, 86, 1)",
                        "rgba(75, 192, 192, 1)",
                        "rgba(153, 102, 255, 1)",
                        "rgba(255, 159, 64, 1)"
                      ],
                      borderWidth: 1
                    }
                  ]
                },
                barChartOptions: {
                  responsive: true,
                  maintainAspectRatio: true,
                  scales: {
                    xAxes: [
                      {
                        barPercentage: 1,
                        gridLines: {
                          display: true,
                          color: "rgba(0, 0, 0, 0.1)"
                        }
                      }
                    ],
                    yAxes: [
                      
                      {
                      ticks: {
              beginAtZero: true
            },
            
                gridLines: {
                          display: true,
                          color: "rgba(0, 0, 0, 0.1)"
                        }
                      }
                    ]
                  }
                },
                doughnutChartData: {
                  labels: ["Red", "Green", "Yellow", "Grey", "Dark Grey"],
                  datasets: [
                    {
                      data: [300, 50, 100, 40, 120],
                      backgroundColor: [
                        "#F7464A",
                        "#46BFBD",
                        "#FDB45C",
                        "#949FB1",
                        "#4D5360"
                      ],
                      hoverBackgroundColor: [
                        "#FF5A5E",
                        "#5AD3D1",
                        "#FFC870",
                        "#A8B3C5",
                        "#616774"
                      ]
                    }
                  ]
                },
                doughnutChartOptions: {
                  responsive: true,
                  maintainAspectRatio: true
                },
            },
                 beforeMount(){
                  let labels_chart= [];
                  let labels_bar_chart= [];
                  let data_chart= [];
                  let data_bar_chart= [];
                  let colors = [];
                  let hovers = [];
                  
                  if (this.started!=null && this.unstarted !=null&& this.closed!=null && this.finished!=null){
                data_bar_chart.push(this.unstarted);
                data_chart.push((this.unstarted*100)/this.total_votings );
                labels_bar_chart.push('sin empezar');
                labels_chart.push('sin empezar'+ ' (%)');
                let color = this.dynamicColors();
                colors.push(color+', 1)');
                hovers.push(color+', 0.5)');
                data_bar_chart.push(this.started);
                data_chart.push((this.started*100)/this.total_votings );
                labels_bar_chart.push('empezadas');
                labels_chart.push('empezadas'+ ' (%)');
                let color1 = this.dynamicColors();
                colors.push(color1+', 1)');
                hovers.push(color1+', 0.5)');
                data_bar_chart.push(this.finished);
                data_chart.push((this.finished*100)/this.total_votings );
                labels_bar_chart.push('finalizadas');
                labels_chart.push('finalizadas'+ ' (%)');
                let color2 = this.dynamicColors();
                colors.push(color2+', 1)');
                hovers.push(color2+', 0.5)');
                data_bar_chart.push(this.closed);
                data_chart.push((this.closed*100)/this.total_votings );
                labels_bar_chart.push('cerradas');
                labels_chart.push('cerradas'+ ' (%)');
                let color3 = this.dynamicColors();
                colors.push(color3+', 1)');
                hovers.push(color3+', 0.5)');
                this.doughnutChartData.datasets[0].data = data_chart;
                this.doughnutChartData.labels = labels_chart;
                this.doughnutChartData.datasets[0].backgroundColor =colors;
                this.doughnutChartData.datasets[0].hoverBackgroundColor =hovers;
                this.barChartData.datasets[0].data = data_bar_chart;
                this.barChartData.labels = labels_bar_chart;
                this.barChartData.datasets[0].backgroundColor =hovers;
                this.barChartData.datasets[0].borderColor =colors;
           } },
            computed:{
                total_votings(){
                    return (this.started+this.unstarted +this.closed+this.finished)
                },
            },
            methods:{
                 dynamicColors() {
                    var r = Math.floor(Math.random() * 255);
                    var g = Math.floor(Math.random() * 255);
                    var b = Math.floor(Math.random() * 255);
                  
                    return "rgba(" + r + "," + g + "," + b;
                },
                parseFecha(fecha){
                  let s_date = new Date(fecha);
                  return s_date.toLocaleDateString('es-ES') +' '+s_date.toLocaleTimeString('es-ES');
                  
                  
                }
            }, 
            mounted(){
             
              var res=[]
              this.votings.forEach(x => {
                x=JSON.parse(x)
                
                x.start_date=this.parseFecha(x.start_date)
                x.end_date=this.parseFecha(x.end_date)
                res.push(x)})
              this.votings=res
              console.log(votings)
            }
            
        })
         
    </script>
<!--Paginacion-->
    <script type="text/javascript">

      function Pager(tablaPag, itemsPerPage) {
      this.tablaPag = tablaPag;
      this.itemsPerPage = itemsPerPage;
      this.currentPage = 1;
      this.pages = 0;
      this.inited = false;
      this.showRecords = function(from, to) {
      var rows = document.getElementById(tablaPag).rows;
      
      // i empieza en 1 to para omitir la cabecera de la tabla
      for (var i = 1; i < rows.length; i++) {
        if (i < from || i > to)
      
        rows[i].style.display = 'none';
      
        else

        rows[i].style.display = '';
      }
      
      }
      
      this.showPage = function(pageNumber) {
        if (! this.inited) {
      
        alert("no iniciada");
      
        return;
      }
      
      var oldPageAnchor = document.getElementById('pg'+this.currentPage);
      oldPageAnchor.className = 'pg-normal';
      this.currentPage = pageNumber;
      var newPageAnchor = document.getElementById('pg'+this.currentPage);
      
      newPageAnchor.className = 'pg-selected';
      var from = (pageNumber - 1) * itemsPerPage + 1;
      var to = from + itemsPerPage - 1;
      this.showRecords(from, to);
      }
      
      this.prev = function() {
      if (this.currentPage > 1)
      this.showPage(this.currentPage - 1);
      
      }
      
      this.next = function() {
        if (this.currentPage < this.pages) {
      
      this.showPage(this.currentPage + 1);
      
      }
      
      }
      
      this.init = function() {
        var rows = document.getElementById(tablaPag).rows;
        var total = (rows.length - 1);
        this.pages = Math.ceil(total / itemsPerPage);
        this.inited = true;
      }
      
      this.showPageNav = function(pagerName, positionId) {
      
      if (! this.inited) {
      
        alert("no iniciado");
      
      return;
      
      }
      
      var element = document.getElementById(positionId);
      var pagerHtml = '<span onclick="' + pagerName + '.prev();" class="pg-normal"> « Anterior </span> ';
      
      for (var page = 1; page <= this.pages; page++)
        pagerHtml += '<span id="pg' + page + '" class="pg-normal" onclick="' + pagerName + '.showPage(' + page + ');">' + page + '</span> ';
        
        pagerHtml += '<span onclick="'+pagerName+'.next();" class="pg-normal"> Siguiente »</span>';
      
        element.innerHTML = pagerHtml;
      
      }
      
      }
    </script>
    <script type="text/javascript">
      var pager = new Pager('tablaPag', 3);
      pager.init();
      pager.showPageNav('pager', 'pageNavPosition');
      pager.showPage(1);
    </script>

  
{% endblock %}
